@charset "UTF-8";

.container{
    width: 99vw;
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    /* margin-top: 1em; */
    width: 60%;
    height: 150vh;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
    background: url("../assets/piscina4-800.jpg") no-repeat var(--white-gray);
}

.title{
    text-transform: uppercase;
    font-family: var(--fonte-tituloSans);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.527);
    margin-top: 1em;
    font-size: 3em;
}

.servicoPrincipal{
    background-color: var(--primary-color);
    width: 90%;
    height: 17vh;
    margin: 12em auto 0 auto;
    border-radius: 6px;
    color: white;


}

.servico{
    background-color: var(--primary-color);
    width: 90%;
    height: 17vh;
    margin: 2em auto 0 auto;
    border-radius: 6px;
    
}

.servico, 
.servicoPrincipal > p{
    color: white;
    font-size: 1.3em;
    font-family: var(--fonte-padrao);
    padding-top: 1em;
}

button.button{
    width: 10vw;
    height: 5vh;
    background-color: var(--analoga);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: .7em;
}

.button:hover{
    background-color: #fb8536;
}